@use '../inc/bstrap' as *;

.bgGray {
    background-color: gray;
}
.fgGray {
    color: gray;
}

// Generate gray color classes for background and 
@each $key, $value in $grays {
    .bgGray#{$key} {
        background-color: $value;
    }
    .fgGray#{$key} {
        color: $value;
    }
}