@use '../inc/bstrap' as *;

.bgWhite {
    background-color: #fff;
}
.fgWhite {
    color: #fff;
}
.bgGray {
    background-color: gray;
}
.fgGray {
    color: gray;
}
.bgBlack {
    background-color: #000;
}
.fgBlack {
    color: #000;
}

// Generate gray color classes for background and 
@each $key, $value in $grays {
    .bgGray#{$key} {
        background-color: $value;
    }
    .fgGray#{$key} {
        color: $value;
    }
}
