@use 'sass:math';

$breakpoints: (
    'xs': 0,
    'sm': 480px,
    'md': 720px,
    'lg': 960px,
    'xl': 1200px
);

// Media query mixins
@mixin xs {
    @media (min-width: map-get($breakpoints, 'xs')) {
        @content;
    }
}
@mixin sm {
    @media (min-width: map-get($breakpoints, 'sm')) {
        @content;
    }
}
@mixin md {
    @media (min-width: map-get($breakpoints, 'md')) {
        @content;
    }
}
@mixin lg {
    @media (min-width: map-get($breakpoints, 'lg')) {
        @content;
    }
}
@mixin xl {
    @media (min-width: map-get($breakpoints, 'xl')) {
        @content;
    }
}
// Custom breakpoint
@mixin breakpoint($bp: 0) {
    @media (min-width: $bp) {
        @content;
    }
}

$grid-columns: 12;

.row {
    display: flex;
    flex-flow: row wrap;
}

// Generate col classes
@include xs {
    @for $i from 1 through $grid-columns {
        .col#{$i}xs {
            box-sizing: border-box;
            flex-grow: 0;
            width: math.div($i * 100%, $grid-columns);
        }
    }
}
@include sm {
    @for $i from 1 through $grid-columns {
        .col#{$i}sm {
            box-sizing: border-box;
            flex-grow: 0;
            width: math.div($i * 100%, $grid-columns);
        }
    }
}
@include md {
    @for $i from 1 through $grid-columns {
        .col#{$i}md {
            box-sizing: border-box;
            flex-grow: 0;
            width: math.div($i * 100%, $grid-columns);
        }
    }
}
@include lg {
    @for $i from 1 through $grid-columns {
        .col#{$i}lg {
            box-sizing: border-box;
            flex-grow: 0;
            width: math.div($i * 100%, $grid-columns);
        }
    }
}
@include xl {
    @for $i from 1 through $grid-columns {
        .col#{$i}xl {
            box-sizing: border-box;
            flex-grow: 0;
            width: math.div($i * 100%, $grid-columns);
        }
    }
}